<h2>
 <span class="title">会員情報編集</span><br>
 </h2>

<%= form_with model:@customer,url:public_customer_path(@customer), local:true do |f| %>

<table class="table table-borderless">
 <tr>
  <th>
   <label for="last_name">氏名</label>
   <label for="first_name"></label>
  </th>
  <td>
   <%= f.text_field :last_name %>
   <%= f.text_field :first_name %>
  </td>
 </tr>
 
 <tr>
  <th>
   <label for="last_name_kana">フリガナ</label></br>
   <label for="first_name_kana"></label></br>
  </th>
  <td>
   <%= f.text_field :last_name_kana %>
   <%= f.text_field :first_name_kana %>
  </td>
 </tr>
 
 
 <tr>
  <th>
   <label for="postal_code">郵便番号</label></br>
  </th>
  <td>
   <%= f.text_field :postal_code %>
  </td>
 </tr>
 
 <tr>
  <th>
   <label for="address">住所</label></br>
  </th>
  <td>
   <%= f.text_field :address %>
  </td>
 </tr>
 
 <tr>
  <th>
   <label for="telephone_number">電話番号</label></br>
  </th>
  <td>
   <%= f.text_field :telephone_number %>
  </td>
 </tr>
 
 <tr>
  <th>
   <label for="email">メールアドレス</label></br>
  </th>
  <td>
   <%= f.text_field :email %>
  </td>
 </tr>
</table>

 <div class="form-group">
  <%= f.submit '変更内容保存', class: "btn btn-success" %>
  </div>
<% end %>

<%= link_to "退会", public_confirm_unsubscribe_path(current_customer.id), class: "btn btn-danger" %>