<h4>
<span class="title">マイページ</span>
</h4>



 <%= link_to "編集する", edit_public_customer_path(@customer), class: "btn btn-success" %>



<h6>氏名</h6>
<p><%= @customer.last_name %><%= @customer.first_name %></p>
<h6>カナ</h6>
<p><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>
<h6>郵便番号</h6>
<p><%= @customer.postal_code %></p>
<h6>住所</h6>
<p><%= @customer.address %></p>
<h6>電話番号</h6>
<p><%= @customer.telephone_number %></p>

<h6>メールアドレス</h6>
<p><%= @customer.email %></p>
