<h2>
  <span class="bg-light">管理者ログイン</span><br>
</h2>

<%= form_with model: @admin, url: admin_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <tr>
    <th><%= f.label :email %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  </div>
 <tr>
    <th><%= f.label :password %></th>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
  </tr>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>



<% end %>