<h5>
 <span class="title"><%= @customer.last_name%><%= @customer.first_name %>さんの会員詳細</span>
</h5>

<h6>会員ID</h2>
<p><%= @customer.id %></6>
<h6>氏名</h2>
<p><%= @customer.last_name%><%= @customer.first_name %></p>
<h6>フリガナ</h2>
<p><%= @customer.last_name_kana%><%= @customer.first_name_kana %></p>
<h6>郵便番号</h6>
<p><%= @customer.postal_code %></p>
<h6>住所</h6>
<p><%= @customer.address %></p>
<h6>メールアドレス</h6>
<p><%= @customer.email %></p>
<h6>ステータス</h6>
   <% if@customer.is_active == true %>
    有効
   <% else %>
    退会
   <% end %>

<%= link_to "編集する",edit_admin_customer_path(@customer), class: "btn btn-success" %>
