<h4>ショッピングカート</h4>
    <table class="table-bordered">
        <thead>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
        </thead>
        <tbody>
            <% @items_payment = 0 %>
            <% @cart_items.each do |cart_item| %>
                <tr>
                    <td>
                        <%= attachment_image_tag cart_item.item, :image, :fill, 80, 80 %>
                    　　<%= cart_item.item.name %>
                    </td>
                    <td><p><%= cart_item.item.with_tax_price%></p></td>
                    <td>
                        <%= form_with model: cart_item, url: public_cart_item_path(cart_item), local:true do |f| %>
                            <%= f.select :amount,  *[1..10] %>
                            <%= f.submit '変更', class: 'btn btn-success' %>
                        <% end %>
                    </td>
                    <td><p><%= cart_item.subtotal%></p></td>
                       <% @items_payment +=  cart_item.subtotal %>
                    <td><%= link_to "削除する", public_cart_item_path(cart_item), class: "btn btn-danger" , method: :delete %></td>
                </tr>
            <% end %>
            <%= @items_payment %>

        </tbody>
    </table>
            <%= link_to "買い物を続ける", public_items_path,class: "btn btn-primary"  %></td>
            <%= link_to "情報入力画面に進む", new_public_order_path ,class: "btn btn-success"  %></td>


            <%= link_to "カートを空にする",  public_destroy_all_path, class: "btn btn-danger" , method: :delete %>