<h4>ショッピングカート</h4>
    <table class="table-bordered">
        <thead>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
        </thead>
        <tbody>
            <% @cart_items.each do |cart_item| %>
                <tr>
                    <td>
                        <%= attachment_image_tag cart_item.item, :image, :fill, 80, 80 %>
                    　　<%= cart_item.item.name %>
                    </td>
                    <td><p><%= (cart_item.item.price * 1.1).floor %></p></td>
                    <td>
                            <%= cart_item.amount %>
                    </td>
                    <td><p><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></p></td>
                    <!--% @price +=  (cart_item.item.price * 1.1).floor * cart_item.amount %-->
                    <td><%= link_to "削除する", public_cart_item_path(cart_item), class: "btn btn-danger" , method: :delete %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
            <%= link_to "買い物を続ける", public_items_path,class: "btn btn-primary"  %></td>
            <%= link_to "情報入力画面に進む", new_public_order_path ,class: "btn btn-success"  %></td>


            <%#= submit 'カートを空にする', @cart_items, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %>