<h4>
 <span class="title">ログイン</span><br>
</h4>

 <span class="title">会員の方はこちらからログイン</span><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<dl>
  <div class="field">
    <dt><%= f.label :メールアドレス %></dt><br />
    <dd><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" ,:size => "60*60"%></dd>
    </dl>
  </div>

<dl>
  <div class="field">
    <dt><%= f.label :パスワード %></dt><br />
    <dd><%= f.password_field :password, autocomplete: "current-password",:size => "60*60"%> </dd>
</dl>
  </div>

  

  <div class="actions">
   <%= f.submit 'ログイン',class:"btn btn-success" %>
  </div>
<% end %>

<h6>
 <span class="title">会員登録がお済みでない方</span><br>
</h6>

  <%= link_to "こちら", new_customer_registration_path %>からログインしてください


<!--%= render "devise/shared/links" %-->
