<h4>
<span class="title">注文履歴一覧</span>
</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th></th>
      <th colspan="6"></th>
    </tr>
   </thead>

  <tbody>
    <% @items_payment = 0 %>
    <% @shopping_cost = 800 %>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= order.postal_code %><%= order.address %><%= order.name %></td>
          <% @cart_items.each do |cart_item| %>
  					<td><%= cart_item.item.name %></td>
  					<p><% cart_item.subtotal%></p>
                <% @items_payment = cart_item.subtotal %>
  				<% end %>
  				  <td><%= @shopping_cost + @items_payment  %>
  				
  				  </td>
  				

      
      <td>ステータス</td>
      <td><%= link_to "詳細を見る", public_order_path(order),class: "btn btn-primary"  %></td>
    <% end %>
    </tr>
  </tbody>
</table>

