<h4>
<span class="title">注文履歴詳細</span>
</h4>

<div class= "row">
    <div class="col-md-5 offset-md-1">
  <h6>注文情報</h6>

    <div class="order_info">
      <table class="table table-bordered">
        <thead>
          <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>支払方法</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @order.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              <%= @order.postal_code %></br>
              <%= @order.address %></br>
              <%= @order.name %>
            </td>
            <td>
              <% if@order.payment_method == 0 %>
              クレジット払い
             <% else %>
              銀行振り込み
             <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

 <div class="col-md-6 offset-md-1">
  <h6>注文内容</h6>
    <div class ="order_contents">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
         <% @items_payment = 0 %>
          <% @order_details.each do |order_detail| %>

              <tr>
                <td>
                　　<%= order_detail.item.name %>
                </td>
                <td>
                  <%= (order_detail.item.price * 1.1).floor %>
                </td>
                <td>
                  <%= order_detail.amount %>
                </td>
                <td>
                  <%= (order_detail.item.price * 1.1).floor * order_detail.amount %>
                </td>
                <p><% order_detail.price%></p>
                <% @items_payment +=  order_detail.price %>
          <% end %>

            </tr>
          </tbody>
      </table>
    </div>
  </div>

<div class="col-md-5 offset-md-1">
  <h6>請求額</h6>
    <div class="order_proce">
      <table class="table table-bordered">
        <thead>
          <th>送料</th>
          <th>商品合計</th>
          <th>請求額</th>
        </thead>
        <tbody>
          <td><%= @shopping_cost = 800 %></td>
          <td><%= @items_payment %></td>
          <td><%= @items_payment + @shopping_cost  %></td>
        </tbody>
      </table>
    </div>
  </div>
