
<%= attachment_image_tag @item, :image, :fill, 150, 150 %>

<h4><%= @item.name %></h4>

<p><%= @item.introduction %></p>

<p>¥<%= @item.price%>(税込）</p>


<%= form_with model: @cart_item, url:'/public/cart_items', local:true do |f| %>
 <!--%= form_for model: CartItem.new do |f| %-->
  <%= f.select :amount, [['１',1], ['２',2], ['３',3]] %>
<% end %>
